doctype html
html(lang="en")
  head
    if seo.author
      title!="Gallery | " + seo.author
    else
      title=attributes.title
  meta(name="description", content="")
  meta(name="robots", content="noindex")
  include components/head.pug
  link(rel="stylesheet" href="../css/gallery.css")
  body
  main.gallery--content
    include components/nav.pug
    div(class="gallery--grid",id="gallery--image-wrapper")
      each photo in photos
        img.gallery--item(class=photo.class, src=photo.src, alt=photo.alt, data-description=photo.description)
    include components/footer.pug
