doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include components/head.pug
  body
    include components/nav.pug
    main.content
      div.page--header
        h1=gallery.title
        div.colophon
          |  !{gallery.colophon}
      div.inner--gallery-wrapper
        div#gallery--image-wrapper
          each photo in gallery.images
            div.gallery--content-wrapper
              img(src=photo.src, class="gallery-page--image")
      include components/footer.pug
