meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1.0, width=device-width")
if seo.title
  meta(property="og:site_name", content=seo.title)
if seo.author
  meta(property="copyright", content!="&copy; " + (new Date()).getFullYear() + " " + seo.author)
link(rel="alternate", type="application/rss+xml", href="/rss.xml")
link(rel="alternate", type="application/json", href="/feed.json")
link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
link(rel="stylesheet", type="text/css", href="/css/styles.css")
link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin=true)
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin=true)
link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap") 
link(rel="stylesheet", href="https://use.typekit.net/uay2stt.css")
script(type="text/javascript" crossorigin="anonymous", src="https://kit.fontawesome.com/881830ea41.js")
script(type="text/javascript" src="/js/bundle.js" async)
if integrations.gaTrackingId
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', !{"'" + integrations.gaTrackingId + "'"}, 'auto');
    ga('send', 'pageview');
