doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include template-parts/head.pug
  body.home
    main.content
      include template-parts/nav.pug
      img.portrait(src="https://s3.amazonaws.com/reckart.blog-assets/6M6A7607-web.jpg", alt="A photo of Tyler with his son.", width="100%")
      include template-parts/intro.pug
      p #[span(role='img' aria-label='memo') &#x1F4DD;] From the #[a(href='/blog') blog]
      each post in posts
        a.article--preview-wrapper(href="/blog/" + post.path)
          article.article--preview
            div.article--preview-header
              h3=post.attributes.title
            div.article--preview-content
              | !{post.body}
    include template-parts/footer.pug
