include mixins/time.pug
doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include components/head.pug
  body.hidden
    include components/nav.pug
    main.content.home
      each post in posts
        article
          div.article--header
            a(href=post.path) #[h2=post.attributes.title]
            span Posted on #[+time(post.attributes.date)]
          div.article--content
            | !{post.body}
      include components/footer.pug

