doctype html
html(lang="en")
  head
    if seo.author
      title!=attributes.title + " | " + seo.author
    else
      title=attributes.title
    meta(name="description", content=attributes.description)
    include template-parts/head.pug
  body
    main.content
      include template-parts/nav.pug
      article.page--wrapper
        div.page--header
          h1=attributes.title
        div.page--content
          | !{body}
      include template-parts/footer.pug
