doctype html
html(lang="en")
  head
    if seo.author
      title!=attributes.title + " | " + seo.author
    else
      title=attributes.title
    meta(name="description", content=attributes.description)
    include components/head.pug
    script(type="text/javascript" src="../js/bundle.js")
  body
    include components/nav.pug
    main.content
      article.page--wrapper
        div.page--header
          h1=attributes.title
        div.page--content
          | !{body}
    include components/footer.pug
