doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include components/head.pug
  body
    include components/nav.pug
    main.content.gallery--container
      div#photo-gallery--section-wrapper
        each section in gallery
          div.photo-gallery--image
            img(src=section.featuredImage, class="gallery--img")
            span=section.title
      include components/footer.pug
