doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include components/head.pug
  body
    include components/nav.pug
    main.content.gallery--container
      div.page--header
          h1 Photos
      each photo in photos
        if photo.type === 'featured'
          div.featured-photo--image
            img(src=photo.src, class="featured--img" alt=photo.alt)
            span=photo.alt
        else
          div#photo-gallery--wrapper
            each image in photo.photos
              div.photo-gallery--image
                img(src=image.src, class="gallery--img")
      include components/footer.pug
