doctype html
html(lang="en")
  head
    title= attributes.title
    meta(name='description', content=attributes.description)
  body
    article
      div.article--header
        h1=attributes.title
        span=attributes.date
      div.article--content
        | !{body}
    include includes/footer.pug
