include mixins/time.pug
doctype html
html(lang="en")
  head
    if seoConfig.author
      title!=attributes.title + " | " + seoConfig.author
    else
      title=attributes.title
    meta(name="description", content=attributes.description)
    if siteConfig.url
      meta(property="og:url", content!=siteConfig.url + "/" + path)
    meta(property="og:type", content="article")
    meta(property="og:title", content=attributes.title)
    meta(property="og:description", content=attributes.description)
    meta(property="article:published_time", content!=toISODate(attributes.date))
    if seoConfig.author
      meta(property="article:author", content=seoConfig.author)
    meta(property="twitter:card", content="summary_large_image")
    if socialConfig.twitter
      meta(property="twitter:site", content=socialConfig.twitter)
    if attributes.featuredImage
      meta(property="og:image", content=attributes.featuredImage)
      meta(name="twitter:image", content=attributes.featuredImage)
    if siteConfig.url
      meta(name="twitter:url", content=siteUrl + "/" + path)
    meta(name="twitter:description", content=attributes.description)
    meta(name="twitter:title", content=attributes.title)
    include template-parts/head.pug
  body
    main.content
      include template-parts/nav.pug
      article.article-page--wrapper
        div.article--header
          h1=attributes.title
          +time(attributes.date)
        div.article--content
          | !{body}
      if !nextPost
        include template-parts/footer.pug
    if nextPost
      include template-parts/next-post.pug
